absl-py==1.4.0
altgraph==0.17.3
asgiref==3.5.0
attrs==22.2.0
aws-encryption-sdk==3.1.1
boto3==1.26.76
botocore==1.29.76
certifi==2020.12.5
cffi==1.15.1
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==39.0.1
Django==3.2.6
django-cors-headers==3.7.0
django-filter==2.4.0
django-rest-framework==0.1.0
djangorestframework==3.12.2
drf-yasg==1.20.0
gunicorn==19.9.0
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jmespath==1.0.1
macholib==1.16.2
MarkupSafe==2.1.0
packaging==21.3
phonenumbers==8.12.33
protobuf==4.22.0
psycopg2-binary==2.8.6
pycparser==2.21
pycryptodomex==3.17
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyJWT==1.7.1
pyparsing==3.0.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
six==1.15.0
sqlparse==0.4.1
uritemplate==4.1.1
urllib3==1.26.4
wrapt==1.14.1
